<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ .prefix }}/swagger.css" type="text/css" rel="stylesheet">
    <title>Swag</title>
    <style>
        .swagger-ui {
            overflow-y: auto !important;
            max-height: 100vh !important;
        }

        {{ if not .edit }}
        .Pane1 {
            display: none !important;
        }
        .Pane2 {
            width: 100% !important;
            left: 0 !important;
        }
        .Resizer {
            display: none !important;
        }
        {{ end }}
    </style>
</head>
<body>
<div id="swagger-editor"></div>
</body>
</html>
<script src="{{ .prefix }}/swagger.js" type="text/javascript"></script>
{{ range $name, $path := .names }}
{{ if hasSuffix $name ".js" }}
<script src="{{ $.prefix }}/{{ $name }}" type="text/javascript"></script>
{{ end }}
{{ end }}
<script type="text/javascript">
    window.onload = () => {
        window.swaggerEditor = SwaggerEditorBundle({
            dom_id: '#swagger-editor',
            url: '{{ .prefix }}/{{ .name }}',
            docExpansion: 'none',         // 全部折叠
            defaultModelsExpandDepth: -1, // 隐藏模型定义
            defaultModelExpandDepth: 2,   // 模型默认展开深度
            deepLinking: true,            // 启用 URL 深度链接，让浏览器地址栏的 URL 能直接跳转到特定的 API 文档位置（如某个 Tag、Operation 或 Model）
            displayRequestDuration: true, // 是否显示 API 请求耗时
            plugins: [() => ({            // 通过插件拦截 execute 动作来获取当前 Operation
                statePlugins: {
                    spec: {
                        wrapActions: {
                            execute: (originalExecute, system) => (operation) => {
                                window.swaggerEditor.operation = operation;
                                return originalExecute(operation);
                            }
                        }
                    }
                }
            })],
            requestInterceptor: function (request) { // 将所有 API 请求转到本地代理
                let operation = window.swaggerEditor?.operation;
                if (operation) {
                    if (window.reqInterceptors) {
                        let key = operation.method + ' ' + operation.path;
                        let reqInterceptor = window.reqInterceptors[key];
                        if (reqInterceptor) {
                            request = reqInterceptor(request);
                        }
                    }

                    let specSelectors = window.swaggerEditor.specSelectors;
                    let scheme = specSelectors.operationScheme() || 'http';
                    let baseUrl = scheme + '://' + specSelectors.host();
                    if (request.url.startsWith(baseUrl)) {
                        request.headers['Base-Url'] = baseUrl;
                        request.url = '{{ .prefix }}/proxy' + request.url.substring(baseUrl.length);
                    }

                    window.swaggerEditor.operation = null;
                }
                return request;
            },
        });
    };
</script>