<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ .prefix }}/v2/ui.css" type="text/css" rel="stylesheet">
    <title>Swag</title>
    <style>
        .swagger-ui {
            overflow-y: auto !important;
            max-height: 100vh !important;
        }

        {{ if not .edit }}
        .Pane1 {
            display: none !important;
        }
        .Pane2 {
            width: 100% !important;
            left: 0 !important;
        }
        .Resizer {
            display: none !important;
        }
        {{ end }}
    </style>
</head>
<body>
<div id="swagger-editor"></div>
</body>
</html>
<script src="{{ .prefix }}/v2/ui.js" type="text/javascript"></script>
{{ range $js := .jss }}
<script src="{{ $.prefix }}/{{ $js }}" type="text/javascript"></script>
{{ end }}
<script type="text/javascript">
    window.onload = () => {
        async function hash(text) {
            let uint8Arr = new TextEncoder().encode(text);
            let buf = await crypto.subtle.digest('SHA-256', uint8Arr);
            let arr = Array.from(new Uint8Array(buf));
            return arr.map(b => b.toString(16).padStart(2, '0')).join('');
        }

        let url = '{{ .prefix }}/{{ .api }}';
        window.swaggerEditor = SwaggerEditorBundle({
            dom_id: '#swagger-editor',
            url: url,
            docExpansion: 'none',         // 全部折叠
            defaultModelsExpandDepth: -1, // 隐藏模型定义
            defaultModelExpandDepth: 3,   // 模型默认展开深度
            deepLinking: true,            // 启用 URL 深度链接，让浏览器地址栏的 URL 能直接跳转到特定的 API 文档位置（如某个 Tag、Operation 或 Model）
            displayRequestDuration: true, // 是否显示 API 请求耗时
            plugins: [() => ({            // 自定义插件
                statePlugins: {
                    spec: {
                        wrapActions: {
                            // 通过插件拦截 execute 动作来获取当前 Operation
                            execute: (originalExecute) => (operation) => {
                                window.swaggerEditor.operation = operation;
                                return originalExecute(operation);
                            },
                        },
                    }
                },
            })],
            requestInterceptor: function (request) { // 将所有 API 请求转到本地代理
                let operation = window.swaggerEditor?.operation;
                if (operation) {
                    if (window.requestInterceptor) {
                        request = window.requestInterceptor.handle(operation, request);
                    }

                    let specSelectors = window.swaggerEditor.specSelectors;
                    let scheme = specSelectors.operationScheme() || 'http';
                    let baseUrl = scheme + '://' + specSelectors.host();
                    if (request.url.startsWith(baseUrl)) {
                        request.headers['X-Url'] = request.url;
                        request.url = '{{ .prefix }}/proxy' + request.url.substring(baseUrl.length);
                    }
                }
                return request;
            },
            responseInterceptor: (response) => {
                // if (window.responseInterceptor) {
                //     response = window.responseInterceptor.handle(operation, response);
                // }
                return response;
            },
            onComplete: function () { // 加载完成回调
                // 设置标题
                document.title = window.swaggerEditor.specSelectors.info().get('title');
            },
        });

        let edit = {{ .edit }};
        if (edit) {
            function diff(isInit) {
                // 获取内容
                let spec = window.swaggerEditor.specSelectors.specStr();
                hash(spec).then(function (hash) {
                    if (!isInit && window.swaggerEditor.hash != hash) {
                        fetch(url, {
                            method: 'POST',
                            headers: {'Content-Type': 'text/plain'},
                            body: spec,
                        }).then(response => {
                            if (!response.ok) {
                                throw new Error(response.statusText);
                            }
                            return response.text();
                        }).then(data => {
                            console.log('Success:', data);
                        }).catch(error => alert(error));
                    }
                    window.swaggerEditor.hash = hash;
                });
                setTimeout(() => diff(false), 2 * 1000);
            }

            setTimeout(() => diff(true), 2 * 1000);
        }
    };
</script>